@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

	.form{
		width: 100%;
		height: 60px;
		max-width: 400px;
		position: relative;
		overflow: hidden;
    margin-bottom: 5px;
	}
	.form input{
		width: 100%;
		height: 100%;
		background: none;
		color: #fff;
		padding-top: 20px;
		border: none;
		outline: 0px;
	}
	.form .lbl-nombre{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		border-bottom: 1px solid #c7c7c7;
	}
	.form .lbl-nombre:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 100%;
		border-bottom: 3px solid #01f603;
		transform: translateX(-100%);
		transition: all 0.3s ease;
	}
	.text-nomb{
    position: absolute;
		bottom: 3px;
		left: 0;
		transition: all 0.3s ease;
		color: #fff;
	}
	.form input:focus + .lbl-nombre .text-nomb,.form input:valid + .lbl-nombre .text-nomb{
    transform: translateY(-150%);
		font-size: 14px;
		color: #01f603;
	}
	.form input:focus + .lbl-nombre:after, .form input:valid + .lbl-nombre:after{
		transform: translateX(0%);
	}
	@media only screen and (min-width:320px) and (max-width:768px){
	 .form{
		width:85%;
	}
		}


.ciudades{
  	width: 100%;
		height: 100%;
    max-width: 400px;
		background: none;
		color: #fff;
		padding-top: 20px;
		border: none;
		outline: 0px;
    border-bottom: 1px solid #c7c7c7;

}
/* boton */
.containerAux{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.boton-neon {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 20px;
  background-color: transparent;
  border: 0;
  color: #165C5A;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-out 200ms;
  animation: efecto-texto-luz 3s ease-in infinite normal both;
}
.boton-neon:hover {
  color: #38EDE8;
  text-shadow: 0 0 3px #38EDE8;
  animation: none !important;
}
.boton-neon::after,
.boton-neon::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: -3px;
  top: -3px;
  border: 3px solid #165C5A;
  border-radius: 8px;
  transition: all ease-out 200ms;
  animation: efecto-luz 3s ease-in infinite normal both;
}
.boton-neon:hover::before,
.boton-neon:hover::after {
  border-color: #38EDE8;
  animation: none !important;
}
.boton-neon:hover::before {
  filter: blur(4px);
}
.boton-neon:active {
  color: #165C5A;
  text-shadow: 0 0 0 #165C5A;
}
.boton-neon:active::before,
.boton-neon:active::after {
  border-color: #165C5A;
  animation: none !important;
}

@keyframes efecto-texto-luz {
  from, 20%, 36%, to {
      color: #165C5A;
  }
  23% {
      color: #38EDE8;
  }
}

@keyframes efecto-luz {
  from, 60%, 70%, 95% {
      border-color: #165C5A;
  }
  65%, to {
      border-color: #38EDE8;
  }
}