.edit-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.836);
  margin-left: 40px;
  margin-bottom: 40px;
}
.edit-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 40px;
  
}

.edit-image img {
  width: 25%;
  border-radius: 50%;
}

.edit-product-form label {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.edit-product-form input[type="number"] {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
}

.edit-product-form button {
  padding: 10px 20px;
  background-color: #7a00ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 10px;
}

.edit-product-form button:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}
