.edit-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.edit-image {
  width: 40%;
  margin-left: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.edit-image img {
  width: 50%;
  border-radius: 30%;
}

.edit-product-form label {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.edit-product-form input[type="number"] {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
}

.edit-product-form button {
  padding: 10px 20px;
  background-color: #7a00ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 10px;
}

.edit-product-form button:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}

.title-edit{
  align-items: center;
    align-content: center;
   
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.container-edit{
  margin-top: 10px;
  margin-bottom: 10px;
}