
.div{
  color: rgb(123, 216, 216);
}

.button{
  background-color: rgb(123, 216, 216);
  border-radius: 27px;
  padding: 5px 7px;
}

.button:hover{
  background-color: #2B3951;
  transition: 0.3s;
  color: white;
  cursor: pointer;
}

.img{
  border-radius: 333px;
}

