.small-img-group{
  display:flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis:24%;
  cursor:pointer;
}

.sproduct select{
  display:block;
  padding: 5px 10px;
}

.sproduct input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
}

.image-detail{
    height: 400px;
  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.image-detail {
  transition: transform 0.5s; /*tiempo de transición de 0.5 segundos*/
}

.image-detail:hover {
  transform: scale(1.2); /*aumenta el tamaño en un 20%*/
}
.text-detai{
  color: aliceblue;
}
h6, h2, h3{
  color: aliceblue;
}

.p-detail{
  color: aliceblue;
  
}
.product-description-container {
  padding: 1em;
  background-color: #181A1B;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  margin-top: 2em;
  font-family: Arial, sans-serif;
}

.product-description-container h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.product-description-container p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.detail-box{
  padding: 1em;
  background-color: #232527;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(18, 4, 164, 0.3);
  margin-top: 2em;
  font-family: Arial, sans-serif;
  margin-bottom: 1em;
}
.name-brand-price{
  border-left:5px solid #7f25d8;
  padding: 10px 0px 10px 15px;
}
.h-rating{
  color:aliceblue ;
}

.col-lg-6 {
  
  padding-left: 160px;
}
.image-detail-teclados{
  height: 400px;
  width: 600px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}
.image-detail-teclados {
transition: transform 0.5s; /*tiempo de transición de 0.5 segundos*/
}

.image-detail-teclados:hover {
transform: scale(1.2); /*aumenta el tamaño en un 20%*/
}