.productContainer {
  background-color: #181a1b;
  width: 100%;
  border-radius: 5px;
  height: 100%;
}

.infoConteiner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 30px;
}

.infoProduct {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 250px;
  height: 130px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid gray;
  background-color: #7230ff;
  color: rgb(29, 29, 29);
  transition: 0.5s;
  box-shadow: 0px 2px 2px 0px rgba(48, 48, 48, 0.527);
  margin-bottom: 10px;
}

.infoProduct:hover {
  box-shadow: 0px 10px 15px 0px rgba(123, 11, 243, 0.548);
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.containerCheckv {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1ed627;
}

.containerCheckv i {
  color: #181a1b;
}
.containerCheckx {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 12, 12);
}
.containerCheckx i {
  color: #181a1b;
}
.actionDisable {
  color: #02be3e;
  font-size: 25px;
  width: 20%;
}
.actionDisable:hover {
  color: #07ff2c;
  cursor: pointer;
}

.actionNotDisable {
  font-size: 20px;
  color: rgb(171, 4, 4);
}
.actionNotDisable:hover {
  color: rgb(252, 0, 0);
  cursor: pointer;
}
.actionDelete {
  font-size: 25px;
  color: #7230ff;
}
.actionDelete:hover {
  font-size: 25px;
  color: #9464fd;
  cursor: pointer;
}

.containerInfoTable {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15px;
  font-size: 30px;
}

.ul {
  width: 100%;
  border: none;
  font-weight: 500;
  color: #000000;
  background-color: #7230ff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 5px;
  text-decoration: none;
}

.containHeadr1 {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-left: 25px;
}
.containHeadr {
  width: 10%;
  height: 100%;
}
.containHeadr2 {
  width: 12%;
  height: 100%;
  margin-left: 35px;
}

.containerc {
  background-color: #c7c7c704;
  width: 100%;
  display: flex;
}

.containCardInfo {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: 1px solid rgb(58, 58, 58);
  margin-left: 20px;
  width: 20%;
}

.p-user {
    text-align: center;
    font-size: 12px;
  }

.containCardName {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: 1px solid rgb(58, 58, 58);
  margin-left: 20px;
  width: 10%;
}
.containCardRole {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: 1px solid rgb(58, 58, 58);
  width: 20%;
  margin-left: 20px;
}

.containerActions {
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(102, 102, 102);
}

.containerPaginate {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerCreate {
  width: 65px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #7230ff;
  border-radius: 5px;
  margin-top: 15px;
  color: black;
}
.containerCreated {
  display: flex;
  justify-content: flex-end;
}

.containerButtonCreate {
  border-radius: 50%;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}
