

.containerCreate{
    width: 65px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #7230FF;
    border-radius: 5px;
    margin-top: 15px;
    color: black;
}
.p-user{
    text-align: center;
    width: 200px;
    font-size: 12px;
}

.containerCreated{
    display: flex;
    justify-content: flex-end;
}


.containerAll{
    width: 100%;
    height: 100%;
    display: flex;
    background-color:#181A1B;
}


.productContainer{
    background-color:#181A1B;
    width: 100%;
    border-radius: 5px;
    height: 100%;
}

.infoConteiner{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    margin-top: 20px;
    padding: 30px;
}

.infoProduct{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 250px;
    height: 130px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: #7230FF;
    color: rgb(29, 29, 29);
    transition: 0.5s;
    box-shadow: 0px 2px 2px 0px rgba(48, 48, 48, 0.527);
    margin-bottom: 10px;
}

.infoProduct:hover{
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.548);
   
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.containerCheckAll{
    border:none;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3312c6;
}

.containerCheckAll i {
    color: #181A1B;
}

.containerCheckv{
    border:none;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #1b8f21;
}

.containerCheckv i {
    color: #181A1B;
}

.containerCheckD{
    border:none;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b8f21;
}

.containerCheckD i {
    color: #181A1B;
}


.containerCheckx{
    border:none;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 12, 12);
}
.containerCheckx i{
    color:  #181A1B;
}

.containerCheckEx{
    border:none;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 185, 13);
}

.containerCheckEx i{
    color: rgb(255, 255, 255);
}

.containerCheckarrow{
    border:none;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3483FA;
}

.containerCheckarrow i{
    color:  #181A1B;
}

.containerNabvar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerNabvar select:focus{
    outline: none;
}
.containerNabvar input:focus{
    outline: none;
}

.actionDisable{
    color: #02be3e;
    font-size: 25px;
    
}
.actionDisable:hover{
    color: #abf00a;
    
}

.actionNotDisable{
    font-size: 20px;
    color: rgb(171, 4, 4);
}
.actionNotDisable:hover{
    color: rgb(252, 0, 0);
}
.actionDelete{
    font-size:30px;
    color:#7230FF;
}
.actionDelete:hover{
    font-size:30px;
    color:#ffee30;
}

.containerInfoTable{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.headerContainer{
    width: 100%;
    background-color: #78BEEC;
    margin-bottom: 20px;
    margin-top: 10px;
}

.ul{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    background-color: #7230FF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 5px;
    text-decoration:none;
}



.containHeadr{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 60px;
}

.containHeadr p {
    margin: 0;
}


.header{
    padding: 0;
}



.containerc{
    background-color: #c7c7c704;
    width: 99%;
    display: flex;
    justify-content: space-between;
}



.containCardInfo{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-bottom: 1px solid rgb(58, 58, 58);
    margin-left: 25px;

}

.containerActions{
    width: 20%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-bottom: 1px solid rgb(102, 102, 102);
}




.containerPaginate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerButtonCreate{
    border-radius: 50%;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}

.containerIcon{

    border-radius: 5px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background-color:  #7230FF;
    color: #181A1B;
    width: 75px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerIcon:hover{
    background-color: #a3d62c;
}


.containerIcon i {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.link{
    text-decoration: none;
    
    
}

.searchBar{
    border: 1px solid rgb(68, 68, 68);
    margin-left: 20px;
}

.searchBarButton{
    color:  #181A1B;
    background-color: rgb(68, 68, 68);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
}

.infoButton{
    border: none;
    background-color: transparent;
    color: transparent;
}

@media screen and (max-width:1400px) and (min-width:500px) {

    .containerAll{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }
  
    .productContainer{
        width: 100%;
    }
  
   
   
  }

