.about {
    background: radial-gradient(
      circle,
      rgba(55, 48, 52, 1) 0%,
      rgba(0, 0, 0, 1) 60%
    );
  }
  
  .containerAbout {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .containerCardAbout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left:120px
    }
  

  
  .card-client {
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(0, 0, 0);
    width: 15rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid#7230FF;
    box-shadow: 0 6px 10px rgb(91, 130, 208);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }
  
  .card-client:hover {
    transform: translateY(-10px);
  }
  
  .user-picture {
    border: 4px solid#7230FF;
    border-radius: 999px;
  }
  
  .user-picture img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-size: cover;
    border-radius: 50%;
  }
  
  .user-picture img:hover {
    filter: brightness(1.2);
  }
  
  .name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }
  
 .redes_sociales{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

 .redes_sociales img{
    height: 32px;
    width: 32px;
    background-color: white;
    border: 1px solid white;
    margin: 5px 7px 5px 7px;
    border-radius: 5px;
}


 .redes_sociales img:hover{
    height: 32px;
    width: 32px;
    background-color:#7230ffad;
    border: 1px solid#7230FF;
    margin: 5px 7px 5px 7px;
    border-radius: 5px;
}
  .btnAbout {
    --color:#7230FF;
    padding: 0.2em 2em;
    background-color: transparent;
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin: 35px;
    margin-left:522px;
  }
  
  .btnAbout::before,
  .btnAbout::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
  }
  
  .btnAbout::before {
    top: -1em;
    left: -1em;
  }
  
  .btnAbout::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }
  
  .btnAbout:hover::before,
  .btnAbout:hover::after {
    height: 410px;
    width: 410px;
  }
  
  .btnAbout:hover {
    color: rgb(10, 25, 30);
  }
  
  .btnAbout:active {
    filter: brightness(0.8);
  }
  
  @media screen and (max-width: 450px) {
    .about {
      background: radial-gradient(
        circle,
        rgba(55, 48, 52, 1) 0%,
        rgba(0, 0, 0, 1) 60%
      );
    }
  
    .containerAbout {
      display: flex;
    }
  
    .containerCardAbout {
      width: 100%;
      height: 100%;
      display: flex;
    }
  
    .containerCardAbout3 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .containerCardAbout4 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  