
.footer1{
    width: 100%;
}
.container-fluid {
    background-color: #0e0f0f;
    color: white;
}

.footer-copyright{
    background-color: rgb(0, 0, 0);
    color: white;

}
.text-uppercase{
    color:#7230ff;
}

a{
    color: aliceblue;
}