@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  background-color: #181A1B;
  position: relative;
  padding-bottom: 13em;
  min-height: 100vh;

}


.otracosa{
  margin: 0 40px;

}
.loading{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
