.loginnds {
font-size: 30px;
width: 50%;
height: 150%;
display: contents;
text-align: center;
}
.dcdsvdfv {
    box-shadow: 0px 0px 10px 0px #6f08f6;
}


.loginnds p {
background-color: #d9a7e7;
margin-top: 7rem;
margin-bottom: 12rem;
margin-left: 5rem;
margin-right: 5rem;
padding-top: 4rem;
padding-bottom: 6rem;
justify-content: center;
font-family: 'IBM Plex Mono', monospace;
}

.loginnds i {
width: 50%;
height: 100%;
font-size: 60px;
background-color: transparent;
margin-top: 12rem;
margin-bottom: 12rem;
justify-content: center;
color: rgb(177, 63, 230);
}